<div class="row-fluid">
    <div class="row" ng-show="addPerson">
        <h1>Add new activity</h1>
    </div>
    <div class="row" ng-show="editPerson">
        <h1>Edit Activity</h1>
    </div>
    <div class="col-md-4">
        <form name="editform" novalidate flow-init>
            <div class="form-group">
                <!-- Sidebar content-->
                <label for="activityname">name :</label>
                <input ng-model="activity.name" class="form-control" id="activityname" name="activityname" placeholder="name" required/>

                <div class="alert alert-danger" role="alert" ng-show="editform.activityname.$error.required">
                    <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
                    <span class="sr-only">Error:</span>
                    Activity name is Required!
                </div>
            </div>
            <div class="form-group">
                <label for="activitydescription">Description :</label>
                <input ng-model="activity.description" class="form-control" id="activitydescription"
                       placeholder="description" name="activitydescription" required/>

                <div class="alert alert-danger" role="alert" ng-show="editform.activitydescription.$error.required">
                    <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
                    <span class="sr-only">Error:</span>
                    Description is Required!
                </div>

            </div>
            <div class="form-group">
                <label for="activitylang">lang :</label>
                <input ng-model="activity.totallang" name="activitylang" class="form-control" id="activitylang"
                       placeholder="lang" type="number" required/>

                <div class="alert alert-danger" role="alert" ng-show="editform.activitylang.$error.required">
                    <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
                    <span class="sr-only">Error:</span>
                    lang is Required!
                </div>
                <div class="alert alert-danger" role="alert" ng-show="editform.activitylang.$error.number">
                    <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
                    <span class="sr-only">Error:</span>
                    Enter the number!!
                </div>
                <div >
                    <input type="file" flow-btn />
                    <table>
                        <tr ng-repeat="file in $flow.files">
                            <td>{{$index+1}}</td>
                            <td>{{file.name}}</td>
                            <td><img flow-img="$flow.files[{{$index}}]" /></td>
                        </tr>
                    </table>
                </div>
            </div>


            <button type="submit" class="btn btn-default" ng-click="addActivity($flow)" ng-show="addPerson">Add</button>
            <button type="submit" class="btn btn-default" ng-click="editActivity()" ng-show="editPerson">Edit</button>
        </form>
    </div>
</div>