


<div class="panel panel-default">
    <!-- Default panel contents -->
    <div class="panel-heading" translate>menubar.gallery</div>


    <!-- Table -->
    <div class="row row-custom " >

        <div class="col-md-4"  ng-repeat="activity in activities">
            <img ng-src="data:{{activity.images[0].contentType}};base64,{{activity.images[0].content}}" class="thumbnail">
            <a href="#/gallery/{{activity.id}}">{{activity.name}}</a></div>
        <div class="clearfix" ng-if="$index%3==2"></div>
            <div ng-repeat-end=""></div>

    </div>
</div>